.container {
    width: 100%;
    padding: 10px;
}

h1 {
    display: block;
    width: 100%;
    font-size: 28px;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    margin-top: 60px;
}
h2 {
    font-size: 20px;
    font-weight: 700;
    color: #ff7c5b;
}
h3 {
    font-size: 26px;
}
p {
    font-size: 16px;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
table td {
    padding: 0;
    margin: 0;
    text-align: center;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.logo-box {
    position: absolute;
    top: -60px;
    width: 100%;
    padding: 0;
    margin: 40px;
}
.logo-box div {
    display: inline-block;
    float: right;
    margin-right: 0;
}
.logo-box div img {
    width: 20%
}
.wrapper {
    width: 100%;
    text-align: center;
}
.wrapper div {
    display: inline-block;
}
.header {
    margin: 30px 0;
}
.tour-info {
    margin-bottom: 20px;
}
.header div,
.tour-info div {
    width: 100%;
    height: 20px;
    /*border: 1px solid black;*/
    padding: 5px 0;
}
.header td {
    width: 33%;
}

.tour-info td {
    width: 50%;
    text-align: left;
}
.tour-info div {
    width: 95%;
    padding-left: 5px;
}
