.booking-travel-form fieldset {
    background: rgba(255, 255, 255, 1);
    padding: 30px 10px;
    border-radius: 20px;
}

.booking-travel-form fieldset.summary:not(.display-none) {
    padding: 0;
    background: none;
}

.booking-travel-form .display-none {
    display: none;
}

.booking-travel-form .multi-wizard-step p {
    margin-top: 12px;
}

.booking-travel-form .stepwizard-row {
    display: none;
}

.booking-travel-form .stepwizard {
    display: block;
    position: relative;
    width: 100%;
}

.booking-travel-form .stepwizard h2 {
    text-transform: uppercase;
}

.multi-wizard-step button[disabled] {
    filter: alpha(opacity=100) !important;
    opacity: 1 !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    content: " ";
    width: 100%;
    height: 1px;
    z-order: 0;
    position: absolute;
    background-color: #fefefe;
}

.multi-wizard-step {
    text-align: center;
    position: relative;
    display: table-cell;
}

.progress {
    display: none;
    height: 20px
}

.progress-bar {
    background-color: #673AB7
}

.booking-travel-form .form-group label {
    display: block;
    margin: 30px 0 10px;
}

.booking-travel-form .form-group span.error {
    display: block;
    color:red;
}

.booking-travel-form .prevBtn,
.booking-travel-form .nextBtn {
    margin-top: 30px;
}

.booking-travel-form .prevBtn {
    margin-right: 15px;
}

.booking-travel-form .form-group .bootstrap-select {
    width: 100% !important;
}

.booking-travel-form .form-group .bootstrap-select .dropdown-menu.show {
    max-width: 100%;
    right: 0;
    transform: none !important;
}

.booking-travel-form .dropdown-item.active, .booking-travel-form .dropdown-item:active {
    background-color: #ff7c5b;
}


.booking-travel-form .form-group .bootstrap-select .btn-light {
    background-color: #fff;
    border: 1px solid #ff7c5b;
    outline: none !important;
}

.booking-travel-form .form-group .input-group-btn i {
    color: #ff7c5b;
}

.booking-travel-form .form-group input.input-number {
    background: #061a3a;
    color: #fff;
    border-radius: 50px;
    width: 35px;
    max-width: 35px;
    height: 35px;
    display: flex;
    padding: 0;
    text-align: center;
}

.booking-travel-form input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.booking-travel-form input[type=number]::-webkit-inner-spin-button,
.booking-travel-form input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.booking-travel-form .number-input {
    border: 0;
    display: inline-flex;
}

.booking-travel-form .number-input,
.booking-travel-form .number-input * {
    box-sizing: border-box;
}

.booking-travel-form .number-input button {
    outline: none;
    -webkit-appearance: none;
    background: #ff7c5b;
    border: none;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin: 0;
    position: relative;
    border-radius: 50%;
}

.booking-travel-form .number-input button:before,
.booking-travel-form .number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 1rem;
    height: 2px;
    background-color: #fff;
    transform: translate(-50%, -50%);
}
.booking-travel-form .number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.booking-travel-form .number-input input[type=number] {
    font-family: sans-serif;
    max-width: 4rem;
    padding: .4rem;
    border: none;
    border-width: 0 2px;
    font-size: 1.5rem;
    height: 2rem;
    font-weight: bold;
    text-align: center;
    color: #061a3a;
}

.booking-travel-form #for-duration_trip_type,
.booking-travel-form #for-duration_trip_type .nice-select,
.booking-travel-form #for-trip_theme,
.booking-travel-form #for-trip_theme .nice-select,
.booking-travel-form #for-trip_theme_type,
.booking-travel-form #for-trip_theme_type .nice-select{
    width: 100%;
}

.booking-travel-form .trip_type {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.booking-travel-form .trip_type input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio button */
.booking-travel-form .trip_type .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.booking-travel-form .trip_type:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.booking-travel-form .trip_type input:checked ~ .checkmark {
    background-color: #ff7c5b;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.booking-travel-form .trip_type .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.booking-travel-form .trip_type input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.booking-travel-form .trip_type .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.booking-travel-form #for-budget .irs--flat .irs-line {
    background-color: #061a3a;
}

.booking-travel-form #for-budget .irs--flat .irs-bar {
    background-color: #ff7c5b;
}

.booking-travel-form #for-budget .irs--flat .irs-handle>i:first-child {
    background-color: #ff7c5b;
}

.booking-travel-form #for-budget .irs--flat .irs-from, .booking-travel-form #for-budget .irs--flat .irs-to, .booking-travel-form #for-budget .irs--flat .irs-single {
    display: none;
}

.booking-travel-form #for-budget .irs--flat .irs-min, .booking-travel-form #for-budget .irs--flat .irs-max {
    top: -5px;
    padding: 1px 3px;
    color: #fff;
    line-height: 1.333;
    text-shadow: none;
    background-color: #ff7c5b;
    border-radius: 4px;
    visibility: visible !important;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.your-budget {
    font-size: 25px;
    text-align: center;
    line-height: 35px;
    font-weight: 600;
    color: #fff;
    padding: 18px 0;
    margin: 30px 0 10px;
    background: #061a3a;
    border-radius: 20px;

}

.your-budget .your-budget-val {
    font-family: 'Work Sans', sans-serif;
    font-size: 35px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}

@media only screen and (max-width: 767px){
    .booking-travel-form .stepwizard h2 {
        font-size: 28px !important;
        line-height: 38px !important;
    }
}

/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-ball-spin,
.la-ball-spin > div {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.la-ball-spin {
    display: block;
    font-size: 0;
    color: #fff;
}
.la-ball-spin.la-dark {
    color: #333;
}
.la-ball-spin > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}
.la-ball-spin {
    width: 32px;
    height: 32px;
}
.la-ball-spin > div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin-top: -4px;
    margin-left: -4px;
    border-radius: 100%;
    -webkit-animation: ball-spin 1s infinite ease-in-out;
    -moz-animation: ball-spin 1s infinite ease-in-out;
    -o-animation: ball-spin 1s infinite ease-in-out;
    animation: ball-spin 1s infinite ease-in-out;
}
.la-ball-spin > div:nth-child(1) {
    top: 5%;
    left: 50%;
    -webkit-animation-delay: -1.125s;
    -moz-animation-delay: -1.125s;
    -o-animation-delay: -1.125s;
    animation-delay: -1.125s;
}
.la-ball-spin > div:nth-child(2) {
    top: 18.1801948466%;
    left: 81.8198051534%;
    -webkit-animation-delay: -1.25s;
    -moz-animation-delay: -1.25s;
    -o-animation-delay: -1.25s;
    animation-delay: -1.25s;
}
.la-ball-spin > div:nth-child(3) {
    top: 50%;
    left: 95%;
    -webkit-animation-delay: -1.375s;
    -moz-animation-delay: -1.375s;
    -o-animation-delay: -1.375s;
    animation-delay: -1.375s;
}
.la-ball-spin > div:nth-child(4) {
    top: 81.8198051534%;
    left: 81.8198051534%;
    -webkit-animation-delay: -1.5s;
    -moz-animation-delay: -1.5s;
    -o-animation-delay: -1.5s;
    animation-delay: -1.5s;
}
.la-ball-spin > div:nth-child(5) {
    top: 94.9999999966%;
    left: 50.0000000005%;
    -webkit-animation-delay: -1.625s;
    -moz-animation-delay: -1.625s;
    -o-animation-delay: -1.625s;
    animation-delay: -1.625s;
}
.la-ball-spin > div:nth-child(6) {
    top: 81.8198046966%;
    left: 18.1801949248%;
    -webkit-animation-delay: -1.75s;
    -moz-animation-delay: -1.75s;
    -o-animation-delay: -1.75s;
    animation-delay: -1.75s;
}
.la-ball-spin > div:nth-child(7) {
    top: 49.9999750815%;
    left: 5.0000051215%;
    -webkit-animation-delay: -1.875s;
    -moz-animation-delay: -1.875s;
    -o-animation-delay: -1.875s;
    animation-delay: -1.875s;
}
.la-ball-spin > div:nth-child(8) {
    top: 18.179464974%;
    left: 18.1803700518%;
    -webkit-animation-delay: -2s;
    -moz-animation-delay: -2s;
    -o-animation-delay: -2s;
    animation-delay: -2s;
}
.la-ball-spin.la-sm {
    width: 16px;
    height: 16px;
}
.la-ball-spin.la-sm > div {
    width: 4px;
    height: 4px;
    margin-top: -2px;
    margin-left: -2px;
}
.la-ball-spin.la-2x {
    width: 64px;
    height: 64px;
}
.la-ball-spin.la-2x > div {
    width: 16px;
    height: 16px;
    margin-top: -8px;
    margin-left: -8px;
}
.la-ball-spin.la-3x {
    width: 96px;
    height: 96px;
}
.la-ball-spin.la-3x > div {
    width: 24px;
    height: 24px;
    margin-top: -12px;
    margin-left: -12px;
}
.loader {
    width: 100%;
}
/*
 * Animation
 */
@-webkit-keyframes ball-spin {
    0%,
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}
@-moz-keyframes ball-spin {
    0%,
    100% {
        opacity: 1;
        -moz-transform: scale(1);
        transform: scale(1);
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 0;
        -moz-transform: scale(0);
        transform: scale(0);
    }
}
@-o-keyframes ball-spin {
    0%,
    100% {
        opacity: 1;
        -o-transform: scale(1);
        transform: scale(1);
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0);
    }
}
@keyframes ball-spin {
    0%,
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 0;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }
}
